# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# PHP
/vendor/
.env
.env.*
/storage/*.key
/storage/logs/
/bootstrap/cache/

# Build
/dist/
/build/
